<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="input_column" type="xstring" value="message_body"/>
        <config key="word2vec_conf">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <config key="group_1">
                <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                <entry key="embedding_size" type="xint" value="30"/>
                <entry key="window_size" type="xint" value="2"/>
                <entry key="negative_sample_int" type="xint" value="5"/>
                <entry key="hierarchical_soft" type="xboolean" value="false"/>
                <entry key="algorithm_selection" type="xstring" value="skip-gram"/>
            </config>
            <config key="group_2">
                <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                <entry key="word_survival_bool" type="xboolean" value="true"/>
                <entry key="word_survival_rate" type="xdouble" value="1.0E-4"/>
                <entry key="minimum_freq" type="xint" value="5"/>
            </config>
        </config>
        <config key="training_conf">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <entry key="nr_epoch" type="xint" value="10"/>
            <entry key="batch_size" type="xint" value="32"/>
            <entry key="adam_lr" type="xdouble" value="1.0E-4"/>
        </config>
        <entry key="set_seed" type="xboolean" value="true"/>
        <entry key="seed" type="xint" value="1234"/>
        <entry key="tf_device" type="xstring" value="CPU:0"/>
        <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
        <entry key="extension_version_Internals" type="xstring" value="0.6.2"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.python3.nodes.extension.ExtensionNodeSetFactory$DynamicExtensionNodeFactory"/>
    <entry key="node-name" type="xstring" value="Word2Vec Learner (Tensorflow)"/>
    <entry key="node-bundle-name" type="xstring" value="Word2Vec with Tensorflow"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="it.simonedigregorio.word2vec_tf"/>
    <entry key="node-bundle-vendor" type="xstring" value="simonedigregorio"/>
    <entry key="node-bundle-version" type="xstring" value="0.6.2.202510101000"/>
    <entry key="node-feature-name" type="xstring" value="Word2Vec with Tensorflow"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="it.simonedigregorio.features.word2vec_tf.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="simonedigregorio"/>
    <entry key="node-feature-version" type="xstring" value="0.6.2.202510101000"/>
    <entry key="factory-id-uniquifier" type="xstring" value="it.simonedigregorio.word2vec_tf_!_Word2VecLearner"/>
    <config key="factory_settings">
        <entry key="extension_id" type="xstring" value="it.simonedigregorio.word2vec_tf"/>
        <entry key="node_id" type="xstring" value="Word2VecLearner"/>
    </config>
    <config key="node_creation_config">
        <config key="Input Table with string column # 0"/>
        <config key="Output Table of embeddings # 0"/>
    </config>
    <entry key="name" type="xstring" value="Word2Vec Learner (Tensorflow)"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 649, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="239206bc-bda2-45f8-b5de-72ae2961f73d"/>
    </config>
</config>
